* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.25;
}
:root {
  --clr-grey-100: #f3f4f6;
  --clr-grey-200: #e5e7eb;
  --clr-grey-300: #d1d5db;
  --clr-emerald-300: #6ee7b7;
  --clr-purple-700: #7e22ce;
  --transition: all 0.3s linear;
}
.project {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    45deg,
    var(--clr-purple-700),
    var(--clr-emerald-300)
  );
}

.navbar {
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  position: absolute;
  top: 4rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--clr-grey-100);
}
.logo::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--clr-grey-100);
  transform: translateX(50%);
}

.navbar-list li {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 2rem;
  text-transform: capitalize;
  color: var(--clr-grey-200);
  transition: var(--transition);
}
.navbar-list li:hover {
  transform: scale(1.1);
  color: var(--clr-grey-100);
  cursor: pointer;
}
.btn {
  margin-left: 2rem;
  padding: 0.25rem 1.25rem;
  font-size: 1.5rem;
  color: var(--clr-grey-200);
  background: transparent;
  border-radius: 15px;
  border: 1px solid var(--clr-grey-200);
  transition: var(--transition);
}
.menu {
  margin: 3rem;
  font-size: 2rem;
  color: var(--clr-grey-200);
  transition: var(--transition);
}
.menu:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: var(--clr-grey-100);
}
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: var(--clr-grey-100);
  border-color: var(--clr-grey-100);
  background-color: var(--clr-emerald-300);
}
.section1 {
  display: flex;

  height: calc(100vh - 5rem);
  align-items: center;
  justify-content: space-between;
}
.section1 article {
  margin: 5rem;
  width: 30vw;
}
article h1 {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--clr-grey-100);
}
article p {
  padding: 1rem 0;
  color: var(--clr-grey-200);
  margin-left: 2rem;
}
article {
  position: relative;
  border-left: 2px solid var(--clr-grey-100);
  height: 50%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
img {
  transform: translateX(-5rem);
}
article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.8rem;
  height: 0.8rem;
  background-color: yellow;
  border-radius: 50%;
  border: 6px solid var(--clr-grey-100);
  transform: translate(-50%, 50%);
}
